/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .toast-container{
    top: 80px;
    .toast-header{
        background-color: #16a085;
        color: #fff;
        opacity: 0.8;
    }
    .toast-message{
        width: 250px;
        padding: 10px;
    }
} */
